h2 {
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #716024;
  text-align: center;
  opacity: 70%;
}

h3 {
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #716024;
  text-align: center;
}

h4 {
  text-transform: uppercase;
  text-align: center;
}

.text-banner{
  text-transform: uppercase;
  z-index: 10;
}

body,h1,h2,h3,h4,h5,h6,p {
  font-family: Roboto, sans-serif;
}

button {
  text-transform: uppercase;
}
