/*
*   Body Section
*/

body {
  background-color: #fff7cc;
  font-family: "Comfortaa";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Louis George Cafe";
  text-transform: uppercase;
  text-align: center;
}

h2 {
  text-shadow: 1px 1px 3px #716024;
  opacity: 70%;
}

h3 {
  text-shadow: 1px 1px 3px #716024;
}

h4 {
  text-transform: uppercase;
}

button {
  text-transform: uppercase;
}

/*
*   Navigation Section
*/
@media screen and (min-width: 992px) {
  .meeting-us {
    width: 36%;
    overflow: auto;
    float: right;
  }

  .meeting-us .contact-number {
    padding: 15px;
    display: inline;
    text-align: center;
    float: left;
  }

  .meeting-us button {
    padding: 15px;
    float: right;
    background-color: #373a0c;
    display: inline;
    text-align: center;
    width: 70%;
    color: aliceblue;
    border: none;
    font-size: large;
  }

  .meeting-us button:hover {
    background-color: #fff7cc;
    color: black;
    border: none;
  }

  nav {
    background-color: #78692c;
    overflow: auto;
    float: right;
    width: 70%;
  }

  nav a {
    text-decoration: none;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    float: left;
    color: aliceblue;
  }

  nav a:hover {
    background-color: #fff7cc;
    color: black;
  }

  .active {
    background-color: #262d04;
    font-weight: bold;
  }
}
/* Responsive Design: X-Small, Small, Medium, Large, X-Large, X-X-Large */
@media screen and (max-width: 576px) {
  nav {
    float: none;
    width: 100%;
    margin: auto;
  }

  nav a {
    float: none;
    display: block;
  }

  .meeting-us {
    float: none;
    width: 100%;
    background-color: ivory;
    overflow: hidden;
    text-align: center;
    display: none;
  }

  .meeting-us .contact-number {
    float: none;
    width: 100%;
  }

  .meeting-us button {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    width: 90%;
    font-size: small;
  }

  nav a {
    padding: 20px;
  }

  .meeting-us {
    width: 70%;
    font-size: small;
  }

  .meeting-us button {
    font-size: small;
  }
}

/*
*   Body Section
*/

/*
*   Body Section
*/

/*
*   Body Section
*/
