navbar>a {
    text-decoration: none;
    margin-right: 10px;
    color: blanchedalmond;
}
navbar {
    padding: 20px;
    display: inline;
    background-color: black;
    grid-column-end: 12;
}

header {
    background-image: url(/img/pexels-lisa-1083822.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
